


* {
    margin: 0px;
}

body {
    font-family: sans-serif;
    
    background-repeat: no-repeat;
    background-size: 100%;

}

/*-----------------------------nav----------------------------*/
nav{
    height:20px;
    padding-top: 10px;
    padding-left: 1px;
    padding-bottom: 10px;
    background-color: rgb(10, 6, 61);

}


nav ul{
    list-style: none;
    display: flex;
    padding-left: 10px;
}



li a{
    padding-left: 10px;
    text-decoration: none;
}



.register {    
    
    margin-left: 20px;
   
}

.register li a{
    color: #F0EFEF;
}

.home li a{
    color: #ffffff;
    
}


.Projects {    
    
    margin-left: 20px;
   
}

.Projects li a{
    color:#d1df0f;
    font-weight: bold;
}

/*----------------------------------------*/